@using Syncfusion.EJ2

@{
    ViewBag.PageTitle = "DIS > Reference Document";
    ViewBag.PlatformName = "DIS";
    ViewBag.MenuName = "Reference Document";
    ViewBag.FunctionName = "List";
}

@section SearchSection{
    <form asp-action="Index" asp-controller="DisReferenceDocument" method="post">
        <div class="row align-items-center m-0">
            <div class="col">
                <ejs-textbox id="txtSearchBox" cssClass="e-outline inputable" placeholder="Search Keyword..."></ejs-textbox>
            </div>
            <div class="col-auto">
                Period
            </div>
            <div class="col-2">
                <ejs-datepicker id="dpStartDate" value="@ViewBag.StartDate" value="@DateTime.Now.AddYears(-3).ToShortDateString()" format="yyyy-MM-dd" placeholder="Start Date..." cssClass="inputable"></ejs-datepicker>
            </div>
            <div class="col-2">
                <ejs-datepicker id="dpEndDate" value="@ViewBag.EndDate" value="@DateTime.Now.ToShortDateString()" format="yyyy-MM-dd" placeholder="End Date..." cssClass="inputable"></ejs-datepicker>
            </div>
            <div class="col">
                <button asp-controller="PmsProjectIdManagement" asp-action="Index" id="Search" type="submit" class="btn btn-purple btn-medium rounded-pill waves-effect waves-light">Search</button>
            </div>
        </div>
    </form>
}

@section ContentsSection{
    <div class="d-flex justify-content-between align-items-center">
        <div class="ps-2 pageContentTitle">
            <h3>@ViewBag.MenuName</h3>
        </div>
        <div class="ps-1">
            <a asp-controller="" asp-action="Create" id="btnPrint" class="btn btn-info btn-custom rounded-pill waves-effect waves-light">New</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ejs-grid id="Grid" dataSource="@ViewBag.dataSource" recordClick="recordClick"
                  height="510"
                  allowResizing="true"
                  allowReordering="true"
                  allowSorting="true"
                  allowFiltering="true"
                  allowExcelExport="true"
                  allowPdfExport="true"
                  rowHeight="32"
                  showColumnChooser="true"
                  toolbar="@( new List<string>() { "ColumnChooser", "ExcelExport", "PdfExport", "CsvExport", "Print"})">
                <e-grid-loadingIndicator indicatorType="Shimmer"></e-grid-loadingIndicator>
                <e-grid-filterSettings type="CheckBox"></e-grid-filterSettings>
                <e-grid-columns>
                    <e-grid-column field="" headerText="No" customAttributes=@(new{@class="customCss"}) width="80"></e-grid-column>
                    <e-grid-column field="" headerText="" customAttributes=@(new{@class="customCss"}) width="200"></e-grid-column>
                    <e-grid-column field="" headerText="" customAttributes=@(new{@class="customCss"}) width="150"></e-grid-column>
                    <e-grid-column field="" headerText="" customAttributes=@(new{@class="customCss"}) width="120"></e-grid-column>
                    <e-grid-column field="" headerText="" customAttributes=@(new{@class="customCss"}) width="160"></e-grid-column>
                    <e-grid-column field="" headerText="" customAttributes=@(new{@class="customCss"}) width="160"></e-grid-column>
                    <e-grid-column field="" headerText="" customAttributes=@(new{@class="customCss"}) width="250"></e-grid-column>
                    <e-grid-column field="" headerText="" customAttributes=@(new{@class="customCss"}) width="150"></e-grid-column>
                    <e-grid-column field="" headerText="" customAttributes=@(new{@class="customCss"}) width="300"></e-grid-column>
                    <e-grid-column field="" headerText="" customAttributes=@(new{@class="customCss"}) width="150"></e-grid-column>
                    <e-grid-column field="" headerText="" customAttributes=@(new{@class="customCss"}) width="90"></e-grid-column>
                    <e-grid-column field="" headerText="" customAttributes=@(new{@class= new string[]{"customCss", "text-end"}}) width="200"></e-grid-column>
                    <e-grid-column field="" headerText="" type="number" format="C0" customAttributes=@(new{@class="customCss"}) width="160"></e-grid-column>
                </e-grid-columns>
            </ejs-grid>
        </div>
    </div>
    <script>
        function recordClick(args) {
            //window.location.href = "/DisProjectStatus/Detail/" + args.rowData.PROJECT_IDX;
        }
    </script>
}

@section Scripts{
    <script>
        // Grid 높미 조절
        window.onresize = () => {
            autoHeight("Grid", 530);
        };

        window.onload = () => {
            autoHeight("Grid", 530);
        };
    </script>
}